.todoitem
{
    background: pink;
    list-style: none;
    color: #ffff;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 18px;
}
.crossX
{
    background-color: red;
    color: #ffff;
    border-radius: 50%;
    float: right;
    border: 0px;
}